// color pallett
$dark: #26261d;
$beige: #59574c;
$light: #f2f2f0;
$gray: #a6a197;
$dark-orange: #ffc999;
$white: #ffffff;

// fonts
$heading-fonts: "League Spartan", sans-serif;
$body-fonts: "Hubballi", cursive;
