// color pallett
$dark: #26261d;
$beige: #59574c;
$light: #f2f2f0;
$gray: #a6a197;
$dark-orange: #ffc999;
$white: #ffffff;

// fonts
$heading-fonts: "Libre Baskerville", serif;
$body-fonts: "Hubballi", cursive;
$cta-fonts: "League Spartan", sans-serif;

//media-queries
$small: 576px;
$medium: 768px;
$large: 992px;
